header
{
	font-size: 25px;
	font-family: cursive, sanserif;
	color: white;
	text-align: center;
}

bText
{
	font-size: 25px;
	font-family: cursive, sanserif;
	color: black;
}

.buttonHolder
{
    text-align: center;
	align: center;
	margin:center;
}

