header
{
	font-size: 25px;
	font-family: cursive, sanserif;
	color: white;
	text-align: center;
}
div
{
	height: 70px;
	width: 120px;
	background-color:white;
	border-color:green;
	margin:auto;
    text-align: center;
}
bText
{
	font-size: 25px;
	font-family: cursive, sanserif;
	color: black;
}
input[type="button"] {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
	
}

