p
{
	font-size: 25px;
	font-family: cursive, sanserif;
	color: white;
	text-align: center;
}
div
{
	height: 50px;
	width: 120px;
	background-color:white;
	border-color:green;
	margin:auto;
    text-align: center;
}